<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB17LsCCnaS3tr5xtZQRTzydB5F_IYxKXI</string>
	<key>GCM_SENDER_ID</key>
	<string>299600862122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drawmoney</string>
	<key>PROJECT_ID</key>
	<string>drawmoney-c2494</string>
	<key>STORAGE_BUCKET</key>
	<string>drawmoney-c2494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299600862122:ios:25eb07f6b1a583ee4ee9d3</string>
</dict>
</plist>